body {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 12px 120px 120px;
    gap: 48px;
    
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
}

.intro {
    font-size: 48px;
    font-weight: 800;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.intro>img {
    border-radius: 10%;
    border: 5px solid white;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
}

.button-1 {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 12px;
    border-radius: 12px;
    border: none;
}

ul {
    display: flex;
    gap: 18px;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 32px 120px 120px;
    align-items: center;
    justify-content: center;
}

.header2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 32px;
}
.small-pics {
    display:flex;
    width: 100%;   
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.pic-text {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
}

.aspect-ratio-box img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #3882f6;
    border-radius: 10%;
}

div.pic-text>p {
    width: 75%
}

.section3 {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
}
.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-items: flex-end;
}

.section4 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 1%;
    margin:5vw 10vw;
    padding: 60px 100px;
    gap: 32px;
}

.container4,.action {
    font-weight: bold;
    font-size: 24px;
}

.container4, button {
    background-color: #3882f6;
    border-radius: 10%;
    border: 3px solid #f9faf8;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}